
/*------início da home------*/
html, body {
  height: 100%;
  width: 100%; 
  font-family: 'Noto Sans', sans-serif;  
}



#home { 
  background: url("imagens/banner3.jpg");
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
 
.home-content {
  text-align: center;

}
#home-btns {
  padding-bottom: 50px;
}

#main_title {
  padding-top: 150px;
  margin-bottom: 50px;
  font-family: 'Noto Sans', sans-serif; 
  color: white;   
  font-size: 50px;
}

#btns-width {    
  width: 130px; 
  margin-bottom: 10px;
  margin: 5px;
}

#home-txts {
  margin-top: 50px;
  text-align: center; 
  color: #ffffffc9;
  font-weight: lighter;
  font-size: 25px;    
    
}
.nmrs-home {
  font-family: 'Noto Sans', sans-serif; 
  margin-right: 10px;
  
}

/* nav-bar styles */
.navbar {  
  border-bottom: 0.5px solid #ffffffc9;
}

a.navbar-brand{  
  text-align: right;
  color: white;
  font-weight: lighter;
  font-size: 30px;
  letter-spacing: 2px;
}

.nav-link {
  font-weight: bold;
  font-size: 12px; 
  color: white; 
  
}

.nav-item {
  margin-right: 30px;
}

.active {
  color: #feac00;
}

nav i:hover {
  color: #feac00;
}
nav a:hover {
  color: #feac00;
}

.fa-twitter {
  padding-top: 10px;
  color: white;    
} 

.fa-facebook-square {
  padding-top: 10px;
  color: white;
} 

.fa-instagram {
  padding-top: 10px;
  color: white;
} 
/*------fim da home------*/

/******************** About **********************/
.we{
  color: #feac00;
}

.text-left{
  text-align: left !important;

}

.back_sec{
  background : #f7f7f7 ;
}

.img_ab {
  max-width: 100%;
  height:auto ;
}

.proj-img img {
  padding: 6px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.fa{
  color: #fff;
  font-weight: 900;

}
.icon_left_grid span {
  font-size: 2em;

}

.icon_left_grid_left {
  font-size: 2em;
  color: #ffc107;
  margin-top: 0.1em;  
}
.icons_grid-right_info h4 {
  font-size: 1.2em;
  margin-bottom: .7em;
  font-weight: 600;
  color: #222222;
  letter-spacing: 1px;
}
.icons-about {
  border-top: 1px solid #ddd;
  margin-top: 3em;
  padding-top: 4em;

}

h3.titulo-about{
  color: #1b1b1b;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0 2px rgba(165, 29, 29, 0.05);
}

.img_ab_right h4{
  font-size: 24px;
  color: #1b1b1b;
  letter-spacing: 1px;
  position: relative;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 5px;
  text-shadow: 1px 2px rgba(0, 0, 0,0.0.5);
}

.titulo-projects{
  color: #000;
  font-size: 40px;
  font-weight: 700;
}

h3.tittle-w3ls.two {
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
}

.services-grid-inf h4{
  font-size: 1.2em;
  margin-bottom: .7em;
  font-weight: 600;
}

.img_ab_right p{
  font-size: 16px;
  color:gray;
  
}

p.subtitulo{
  font-size: 18px;
  font-weight: 400px;
  color: #555;
}

.footer-grids p {
  font-size: 15px;
  color:gray;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.services-innfo p.sub-tittle{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.services-grid-inf p {
  color: #d5d7d8;
}
p.sub-tittle {
  font-size: 1.1em;
  font-weight: 400;
  color: #fff;
}

.btn {
  border: 2px solid #fff;
  padding: 11px 30px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: capitalize;
  display: inline-block;
}

.btn.ler {
  background: #feac00;
  border: 2px solid #feac00;
  color: #222;  
}

#btn-about-services {
  width: 160px;  
  margin-top: 12%;
  height: 45px;
}
/***************** fim about ***************/

/***************** Services **************/
.services {
  background: url(imagens/banner4.jpg) no-repeat top;
  -webkit-background-size: cover;
  
}
.over-lay-blue {
  background: rgba(10, 10, 10, 0.67);
}
.services-grid-inf h4 {
  color: #fff;
}
.services-grid-inf span {
  line-height: 40px;

}

.pink {
  color: #feac00;
}

/***************** fim Services **************/

/******************** Projects **********************/
#Stunning{
  color: #feac00;
}

.proj-text h5{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.proj-website {
  text-transform: uppercase;
  display: block;
  font-size: 11px;
  color: #777;
  letter-spacing: 2px;
  margin-top: 6px;
}

.blog-post {
  color: #d3a545;
  background-color: #212429;
}

.blog-post h5{
  color: #fff; 
  font-size: 24px;
  font-weight: 500;
}

.blog-post h6{
  font-size: 12px;
  font-weight: 800;
}

.blog-text{
  display: block;
  font-size: 15px;
  font-weight: 400;
}

/***************** fim projects ***************/


/***************** inicio contacts ***************/
#contacts-bg-1 {
  background-color:#f7f7f7 ;
}
.form-style {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;  
  position: relative;
  width: 80%;
}

#contacts-row {
  padding: 50px 0px 50px 0;
}

#contacts-img {
  max-width: 100%; 
}
#contacts-title-1 {
  font-family: 'Noto Sans', sans-serif;
  padding: 20px 20px 20px 0px;
}


#btns-contacts {
  background: #feac00;
  padding-right: 20px;
  scroll-padding-left: 20px;  
  width: 200px;
  margin-bottom: 20px;
}

#main-title-news {
  font-family: 'Noto Sans', sans-serif;  
  margin-bottom: 20px;
}

#sub-title-news {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  margin-top: 12px;
  color: #727272;
}
/* testimonials */

.contacts-bg-2 {
  background-image: url("imagens/banner3.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

#main-title-testimonials {
  color: white;
  text-align: center;
  font-family: 'Noto Sans', sans-serif; 
  padding: 40px;

}
#testimonial-1{  
  background-color: #ffffff;
  margin-bottom: 20px;
}

#testimonial-2{  
  background-color: #ffffff;
  margin-bottom: 20px;
}

#testimonial-3{  
  background-color: #ffffff;
  margin-bottom: 20px;
}
/***************** fim contacts ***************/


/***************** início footer **************/
footer{
background: #222;
}
.footer-sub-titles {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 25px;
}
#footer-main-title {
  font-family: sans-serif; 
  display: block;
  font-size: 20px;
  letter-spacing: 3px;
  padding-bottom: 25px;
  color: whitesmoke;
  font-weight: thin;
}

.footer-social-media-icons {
  color:white;
  padding-right: 15px;
}

.ul-footer {
  list-style-type: none;
  padding-left: 5px;
}
.footer-grids ul li {
  font-size: 16px;
  color: gray;
  font-weight: normal;
  letter-spacing: 1px;
  padding-bottom: 10px;  
}

.footer-grids h5 span {
  color: #feac00;
}
.services_info span{

  color: #feac00;
  
}

#footer-rights {
  font-family: sans-serif;
  font-weight: 500;
  border-color: #727272;
  border-top-style: solid;
  border-width: 1px;
  color: whitesmoke;
  letter-spacing: 1px;
  padding: 30px;
}

/***************** fim footer **************/

